annotated-types==0.7.0
anyio==4.14.2
asgiref==3.11.1
attrs==26.1.0
certifi==2026.6.17
cffi==2.1.0
cryptography==49.0.0
deprecation==2.1.0
Django==6.0.7
django-cors-headers==4.9.0
django-supabase-storage==1.0.1
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.30.0
h11==0.16.0
h2==4.3.0
hpack==4.2.0
httpcore==1.0.9
httpx==0.28.1
hyperframe==6.1.0
idna==3.18
inflection==0.5.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
multidict==6.7.1
packaging==26.2
pillow==12.3.0
postgrest==2.31.0
propcache==0.5.2
psycopg2-binary==2.9.12
pycparser==3.0
pydantic==2.13.4
pydantic_core==2.46.4
PyJWT==2.13.0
python-dotenv==1.2.2
PyYAML==6.0.3
realtime==2.31.0
referencing==0.37.0
rpds-py==2026.6.3
sqlparse==0.5.5
storage3==2.31.0
StrEnum==0.4.15
supabase==2.31.0
supabase-auth==2.31.0
supabase-functions==2.31.0
typing-inspection==0.4.2
typing_extensions==4.16.0
tzdata==2026.3
uritemplate==4.2.0
websockets==15.0.1
yarl==1.24.2
